
#lista_favoritos{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
    flex-grow: 1;
    scrollbar-width: 0;
    
}
#lista_favoritos::-webkit-scrollbar {
    display: none;
}

.favorito-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 80%;
    margin: 16px auto;
    padding: 24px 16px;
    background-color: var(--primary);
    flex-grow: 1;
    border-radius: 10px;
    max-height: 100%;
    overflow: hidden;
}

.product-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px;
}

body{
    max-height: 100vh;
    background-color: var(--dark-primary);
    display: flex;
    flex-direction: column;
}